.DS_Store

# Kicad internal bookkeeping files
**/*-backups/
**/*.kicad_prl
**/fp-info-cache
**/*.lck

# Excel temporary files
~$*.xls
~$*.xlsx

# Gerber directories underneath each PCB folder
**/gerbers/*
